@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Benvenuto!</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Ciao @User.Identity.Name</h2>
        using (Html.BeginForm("Logout", "User", FormMethod.Post))
        {
            <button type="submit" class="btn btn-danger">Logout</button>
        }
    }
</main>